/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!/storage/app
!/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache

/phpmyadmin/
/backend/
/backend.zip
/phpMyAdmin-5.2.2-all-languages.zip


